<div class=main_chat>
  <div class=chat_header>
    <div class=header_left>
      <div class=chat_name><%= @room.name%></div>
    </div>
    <div class=header_right>
      <%= link_to "チャットを削除する", room_path(@room), method: :delete, class: "chat_delete"%>
    </div>
  </div>
    <div class=chat_view>
      <div class=message_boxes>
        <div class=message_box>
          <%= render partial: "message", collection: @messages%>
        </div>
      </div>
    </div>
    <%= form_with model: [@room, @message], class: 'chat_form', local: true do |f| %>
      <div class='form'>
        <%= f.text_field :content, class: 'form_message', placeholder: 'type a message', autofocus: true %>
        <label class="form_image">
          <span class="image-file">画像</span>
          <%= f.file_field :image, class: 'hidden' %>
        </label>
      </div>
      <%= f.submit '送信', class: 'form_send' %>
    <% end %>
</div>